@import "../App.css";

:root {
    --margin-x: 32px;
    --margin-x-lg: 40px;
    --margin-right__toolbar: 16px;

    --gap__body: 8px;
    --gap__content-body: 16px;
    --gap__stack: 8px;

    --margin-top: 2em;
    --padding-bottom: 16px;

    --height__food-card__coverflow-escape: 32px;
    --appbar-height: 56px;
    --topnav-height: 90px;

    --width__profile: 40px;
    --width__profile--lg: 64px;
    --width__profile__content--small: 36px;
    --width__profile__content--medium: 48px;

    --min-height__fullscreen: 640px;
}

/* Page */
.page {
    width: 100vw;
    /* overflow-x: hidden; */
}

.page__container {
    position: relative;
}

.page__swiper.swiper {
    outline-color: blueviolet;
    /* position: relative; */
    /* display: flex; */
    /* justify-content: center; */
}

.pagination__bullets {
    margin-top: 16px;
    margin-bottom: 16px;
    width: fit-content;
    display: flex;
    /* justify-content: center; */
    gap: 4px;
    z-index: 1;
}

.full {
    height: 100%;
    width: 100%;
}

.scroll-page {
    /* position: relative; */
}

.scroll-page__container {
    position: relative;
    width: 100%;
}

.scroll-page__viewport {
    position: sticky;
    top: 0;
    /* background-color: bisque; */
}

.scroll-page__item {
    position: absolute;
    top: 0;
    width: 100%;
}

.scroll-page__scroll-target {
    position: absolute;
    top: 0;
    /* background-color: chocolate; */
}

.sticky {
    position: sticky;
    top: 0;
}

/* AppBar */
.MuiAppBar-root {
    height: var(--appbar-height);
}

.MuiToolbar-root {
    height: var(--appbar-height);
    margin-left: var(--margin-x);
    margin-right: var(--margin-x);
    /* margin-right: var(--margin-right__toolbar); */
}

.MuiToolbar-root.margin-x--lg {
    margin-left: var(--margin-x-lg);
}

.MuiAppBar-positionSticky {
    top: 0px;
    left: 0px;

    &.MuiPaper-root {
        width: 100vw;
    }
}

.app-bar__body {
    height: 100%;
    margin-left: var(--margin-x);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-bar__body--margin-x-lg {
    margin-left: var(--margin-x-lg);
}

.app-bar__body--margin-x-0 {
    margin-left: 0;
}

.app-body {
    margin-top: var(--appbar-height);
}

/* TopNav */
.top-nav {
    /* margin-top: 20px; */
    z-index: 1000;
    position: fixed;
    top: var(--appbar-height);
    height: var(--topnav-height);
    width: 100%;
    overflow: hidden;
}

.top-nav__placeholder {
    height: var(--topnav-height);
}

.top-nav__swiper {
    &.swiper {
        height: 100%;
        padding: 0 var(--margin-x);
        width: 100%;
        background-color: rgb(242, 244, 246);
    }

    &.swiper-slide {
        width: fit-content;
        height: 100%;
        padding: 8px 0px;
    }
}

/* Layouts */

/* Body */
.block {}

.block--with-padding,
.block--with-padding.MuiPaper-root {
    padding-top: var(--margin-top);
    padding-bottom: var(--margin-top);
    padding-left: var(--margin-x);
    padding-right: var(--margin-x);
}

.block--with-margin {
    margin: var(--margin-x);
}

.block--with-margin-x,
.block--with-margin-x.MuiButton-root {
    margin-left: var(--margin-x);
    margin-right: var(--margin-x);
}

.block--with-padding-x,
.block--with-padding-x.MuiButton-root,
.block--with-padding-x.MuiButtonBase-root {
    padding-left: var(--margin-x);
    padding-right: var(--margin-x);
}

.block--with-margin-x--lg,
.block--with-margin-x--lg.MuiButton-root {
    margin-left: var(--margin-x-lg);
    margin-right: var(--margin-x-lg);
}

/* 
.text {
    margin-top: 0.8em;
} */

.body--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.body--full {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--gap__body);
}

.box {}

.slider,
.slider.MuiStack-root {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-top);
}

.slider__marks {
    display: flex;
    flex-direction: column;
}

.slider__value {
    flex-grow: 1;
}


.MuiSlider-markLabel {
    background-color: aquamarine;
    transform: translateX(-64px);
    position: absolute;
    /* height: fit-content; */
    /* margin-left: -100px; */
}

.block--centered {
    & * {
        text-align: center;
    }
}

.container--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Content */
.content.swiper-slide {
    width: 100%;
    background-color: bisque;
    padding: 0px;
    outline-color: aqua;
}

.content__body--gray {
    background-color: rgb(242, 244, 246);
}

.content__body--padding-lg {
    padding: var(--margin-x-lg);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* background-color:chocolate; */
    margin: 0px;
}

.content__block--head {
    margin-top: 0;
}

.content__block {
    margin-top: var(--gap__content-body);
}

.body__head {
    margin-top: 0;
}

.block__body {

    &>* {
        margin-top: var(--margin-top);
    }

    &>h2,
    &>h3 {
        margin-top: 0.8em;
    }

    &>h4,
    &>p {
        margin-top: 0.8em;
    }

    &>.MuiStack-root {
        margin-top: 0.8em;
    }

    &>.body__head,
    &>.body__head.swiper-slide {
        margin-top: 0;
    }
}

.sub-section {
    margin-top: 2rem;
}

.image-card__card-content {
    height: 128px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* .image-card--gradient-bottom, .image-card--gradient-bottom.MuiCard-root.MuiPaper-root {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.2) 72%, rgba(0,0,0,0.9));
} */

.user-image__container {
    visibility: "hidden";
    width: 100%;
    height: 128px;
}

.load-content-item__image {
    visibility: "hidden";
    width: 100%;
    height: 128px;
}


.floating--bottom {
    position: fixed;
    z-index: 100;
    width: 100vw;
    bottom: var(--margin-top);
    /* display: flex; */
    /* align-items: stretch; */
}


.floating-placeholder--bottom {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-top);
    visibility: hidden;
    /* display: flex; */
    /* align-items: stretch; */
}

/* Section */
.fullscreen {
    height: 100vh;
    min-height: var(--min-height__fullscreen);
}

.min-fullscreen {
    min-height: 100vh;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-reverse {
    display: flex;
    flex-direction: column-reverse;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.MuiPaper-root {

    &.fullscreen {
        height: 100vh;
    }
}


.disabled {
    opacity: 0.4;
}


.title {
    margin: 0;
}

.subtitle {
    margin: 0;
}

.avatar__label {
    color: rgb(78, 89, 104);
}

/* Carousel */
.carousel__swiper {
    &.swiper {
        overflow: visible;
        width: 100%;
    }

    &.swiper-slide {
        width: fit-content;
        height: fit-content;
    }
}

.carousel__swiper__food {
    &.swiper {
        padding-bottom: var(--height__food-card__coverflow-escape);
    }

    &.swiper-slide {
        visibility: hidden;
        overflow-y: visible;
    }

    &.swiper-slide-active {
        z-index: 15;
    }

    &.swiper-slide-active,
    &.swiper-slide-prev,
    &.swiper-slide-next {
        visibility: visible;
    }

    &.swiper-slide-prev,
    &.swiper-slide-next {
        & .carousel__escape-coverflow {
            opacity: 0.75;
        }
    }
}

.carousel__escape-coverflow__container {
    position: relative;
    width: 100%;
}

.carousel__escape-coverflow {
    position: absolute;
    height: var(--height__food-card__coverflow-escape);
}

.card__title {
    margin: 0px;
}

/* Test */
.content__title {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 12px;

    & .content__title__text {
        text-align: center;
        margin: 0;
    }
}

.test__title {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    & .test__title__heading typography-label {
        max-width: 90%;
        text-align: center;
    }
}

.test__input {
    min-height: 128px;
}

/* Typography */
body {
    line-height: 1.7;
    letter-spacing: 0em;
    font-size: 16px;
    font-weight: 400;
}

.typography-white {

    & p,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        color: rgba(250, 250, 250);
    }
}

.typography-heading-large {
    max-width: 90%;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    /* letter-spacing: 0em; */
    line-height: 1.7;
    /* color: #1d1d1f; */
}

.typography-heading {
    font-size: 22px;
    font-weight: 700;
    /* letter-spacing: 0em; */
    line-height: 1.7;
    /* color: #1d1d1f; */
}

.typography-label,
.typography-label>p {
    font-size: 20px;
    font-weight: 700;
    /* letter-spacing: 0em; */
    line-height: 1.7;
    /* color: #1d1d1f; */
}

.typography-name {
    font-weight: 600;
}

.typography-note,
.typography-note>p {
    font-size: 14px;
    font-weight: 500;
    /* letter-spacing: 0em; */
    line-height: 1.7;
    color: rgb(107, 118, 132);
}

.typography-input,
.typography-input>p {
    font-size: 14px;
    font-weight: 700;
    /* letter-spacing: 0em; */
    line-height: 1.7;
    color: rgb(107, 118, 132);
}

.typography-marks {
    font-size: 10px;
    font-weight: 300;
    /* letter-spacing: 0em; */
    line-height: 1.7;
    color: rgb(107, 118, 132);
}

.typography--profile-label,
.typography--profile-label>p {
    font-size: 11px;
    font-weight: 300;
    /* letter-spacing: 0em; */
    line-height: 1.7;
    color: rgb(107, 118, 132);
}

.typography--profile-label--active,
.typography--profile-label--active>p {
    font-size: 12px;
    font-weight: 700;
}



.typography-body {}

.fi {
    outline-color: rgb(107, 118, 132);
    outline-width: 1px;
}


.button-group--in-body {
    margin-top: 1.2rem;
}

.test__answer {
    text-align: center;
    font-size: x-large;
    color: rgb(107, 118, 132);
}

.section {
    /* gap: 24px; */
}

.test__google-map-container {
    width: 100%;
    height: 288px;
}

.test__instruction {
    text-align: center;
}

/* Option Card */
.option-card__detail {
    text-align: center;
    font-size: small;
}

/* Google Map */
.modal {
    position: absolute;
    /* left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); */
    z-index: 3;
}

.modal__container {
    position: relative;
}

.backdrop {
    background-color: #fff;
    opacity: 0.75;
}

.modal--withBackdrop {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.75;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.75;
    z-index: 2;
}

/* ProfileImage */
.user-image__label {
    margin-top: var(--margin-top);
}

/* Button */
.MuiButton-contained, .MuiButton-outlined {

    &.MuiButtonBase-root {
        border-radius: 12px;
        padding: 12px;
    }

    & p {
        /* font-size: 14px; */
        font-weight: 600;
    }
}

/* Navigation Button */
.navigation-button__container {
    position: relative;
}


.MuiButton-text {
    &.MuiButtonBase-root {
        color: inherit
    }
}

.MuiButton-root {

    &.MuiButtonBase-root {
        line-height: 1.7;
        font-size: 16px;
        font-weight: 600;
        word-break: keep-all;
        white-space: pre-line;
    }

    & .MuiButtonBase-root {

        &:hover {
            background-color: inherit;
        }
    }

    & .MuiButtonBase-root.Mui-selected {
        /* &:hover {
            background-color: inherit;
        } */
    }
}

.toggle-profile-button__paper {
    display: flex;
    align-items: center;
    justify-content: center;

    &.toggle-profile-button__paper--small {
        border-radius: 14px;
        width: var(--width__profile__content--small);
        height: var(--width__profile__content--small);
    }

    &.toggle-profile-button__paper--medium {
        border-radius: 18px;
        width: var(--width__profile__content--medium);
        height: var(--width__profile__content--medium);
    }
}

/* .toggle-button--button-base.MuiButtonBase-root {
    opacity: 0.4;
    &.Mui-selected {
        opacity: 1;
        background-color: transparent;
    }
} */

.MuiButtonBase-root {
    &.MuiToggleButton-root {
        padding: 0;
        border-radius: 0;
    }
}


.scroll-target {
    scroll-margin-top: var(--appbar-height);
}

/* Card */
.MuiCard-root.MuiPaper-root {
    border-radius: 16px;
}


/* Chip */
.MuiChip-filledPrimary {
    font-weight: 700;
}

/* Stack */
.MuiStack-root {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}

/* Avatar */
.MuiAvatar-contained,
.MuiAvatar-outlined {
    &.MuiAvatar-root {
        border-radius: 16px;
    }
}

/* Profile */
.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
}

.profile__avatar {
    /* width: var(--width__profile__content); */
    /* height: var(--width__profile__content); */
}

.profile__avatar--outlined {
    /* outline-color: ;
    outline-style: ; */
}


.profile--label-md {
    width: var(--width__profile);

    &>p {
        margin: 2px;
        overflow-wrap: normal;
        overflow: hidden;
    }
}

.profile--label-lg {
    width: var(--width__profile--lg);

    &>p {
        line-height: 1.4;
        overflow-wrap: anywhere;
        margin-top: 4px;
    }

    align-items: center;
}

.avatar-group {
    &>* {
        /* margin-right: -8px; */
    }

    & .MuiAvatar-root {
        outline-color: white;
        outline-width: 2px;
    }
}

.stack {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MuiToolbar-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ListItem */
.list-item--md {
    height: 128px;
}

.MuiListItemAvatar-root {
    display: flex;
    justify-content: center;
}

.MuiListItemButton-root.Mui-selected {
    &.MuiButtonBase-root {
        background-color: inherit;
    }

    & .MuiListItemText-root {
        & p {
            font-weight: 800;
        }
    }
}

/* Popper */
.MuiPopper-root {
    z-index: 0;
}

/* Tooltip */
.MuiTooltip-tooltip {
    &>* {
        color: inherit;
    }
}


/* Depreacted */
/* Alert */
.MuiAlert-root {

    & p {
        font-size: 14px;
        font-weight: 600;
    }
}

.MuiAlert-icon {
    display: flex;
    align-items: center;
}

.autoplay-progress {
    position: relative;
    width: 48px;
    height: 48px;
}

.autoplay-progress__button {
    position: absolute;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /* color: var(--swiper-theme-color); */
}

.autoplay-progress svg {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    /* stroke: var(--swiper-theme-color); */
    fill: none;
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}