.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: Apple SD Gothic Neo, sans-serif;
  /* 'SF-Pro-Display', */

  /* Debug */
  outline: 1px solid red;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, button {
  line-height: 1.7;
  font-size: 16px;
  font-weight: 500;
  word-break: keep-all;
  margin: 0;
  white-space: pre-line;
  /* color: #1d1d1f; */
  color: #4e5968;
}
p:after {
  content:"";
  display:inline-block;
  width:0px;
}

a {
  text-decoration: none;
  color: inherit;
}
